body {
    display: flex;
    justify-content: center;
}
.body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    max-width: 2000px;
}
.title-image {
    margin-bottom: 80px;
    max-width: 60%;
    height: auto;
    width: auto; /* ie8 */
    margin-left: 150px;
}
.title-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.primary-visual, .secondary-visual, .tertiary-visual {
    display: flex;
    /* align-items: center; */
    margin-bottom: 50px;
}
.secondary-visual, .tertiary-visual {
    align-items: center;
}
#text-desc, h4 {
    margin-left: 100px;
}
p {
    font-family: 'Poppins';
    font-size: larger;
    color: rgb(97, 97, 97);
}
h1, h2, h3, h4 {
    font-family: 'Montserrat';
    margin-bottom: 2rem;
    color: rgb(97, 97, 97);
}
.slide {
    /* width: 50%; */
    max-width: 700px;
}
.slider-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 50px;
}
#title {
}
.carousel-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    max-width: 700px;
    max-height: 520px;
    margin: 0 50px;

}
.context-container {
    /* width: 100%; */
    max-width: 800px;
    margin-bottom: 20px;
    margin: 0 50px;
}
#line-chart {
    width: 800px;
    margin: 0 50px;
}
.axis, text {
    font-size: 14px;
}
.handle {
    outline: none;
}
/* Carousel Transition Speed */
.carousel-inner .carousel-item {
    transition: transform .5s ease;
}

#fate-chart, #chart {
    margin: 0 50px;
    width: 700px;
}
#chart {
    padding-left: 140px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

.fate-tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 17px sans-serif;
    background: white;
    border: 2px;
    border-color: black;
    border-radius: 8px;
    pointer-events: none;
}

.carousel-tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 17px sans-serif;
    background: white;
    border: 2px;
    border-color: black;
    border-radius: 8px;
    pointer-events: none;
}