.body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
#chart, h2 {
    width: 100%;
}
.slide {
    /* width: 50%; */
    max-width: 600px;
}
/* .carousel-container {
    
} */
.slider-container {
    width: 100%;
}
#line-chart {
    width: 800px;
}
.axis, text {
    font-size: 14px;
}
.handle {
    outline: none;
}